
<ul class="list-group">
    <li class="list-group-item"><a href="">item 1</a></li>
    <li class="list-group-item"><a href="">item 2</a></li>
    <li class="list-group-item"><a href="">item 3</a></li>
    <li class="list-group-item"><a href="">item 4</a></li>
    <li class="list-group-item"><a href="">item 5</a></li>
    <li class="list-group-item"><a href="">item 6</a></li>
    <li class="list-group-item"><a href="">item 7</a></li>
    <li class="list-group-item"><a href="">item 8</a></li>
    <li class="list-group-item"><a href="">item 9</a></li>
    <li class="list-group-item"><a href="">item 10</a></li>
</ul>